

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --primary-color: #055a05;
  --primary-light: #e4f4e4;
  --secondary-color: #f4a261;
  --accent1-color: #264653;
  --accent2-color: #e9c46a;
   --body-font: Arial, Helvetica, sans-serif;

}



body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}  

header,main,footer {
  width: 840px;
  margin: 0 auto;
  

}


header {
  display: grid;
  grid-template-columns: 1fr 2fr;  
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid var(--secondary-color);
}

.logo {
  justify-self: center;
}


nav ul {
  display: flex;
  justify-content: center;   
  gap: 2rem;                 
  list-style: none;
  margin: 0;
  padding: 0;
}


nav a {
  text-decoration: none;
  color: var(--accent1-color);
  font-weight: 600;
  font-size: 1.15rem;        
}

main {
    margin-top: 32px; 
}


nav a:hover,nav a.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}


nav,p,section  {
  margin: 1px;
  padding: 1px;
}


.hero {
  position: relative;
}


.hero img {
  display: block;
  width: 100%;
  height: auto;
}


.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}




.hero article {
  position: absolute;
  top: 60%;
  right: 45px;
  transform: translateY(-50%);
  width: 300px;
  background-color: var(--accent2-color);
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 6px;
  opacity: 0.95; 
  float: right;
  margin-left: 1rem; 
}



.hero article img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin: 0; 
}




.hero p {
  text-align: center;
  padding: 0;
}

.history {
  margin-top: 2rem;
}

.history h2 {
 text-align: center;
 
 
}

.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;  
  gap: 2rem;                            
  align-items: center;
}

.history-grid p {
  line-height: 1.6;
}

.history-grid figure {
  margin: 0
}

.history-grid img {
  display: block;
  width: 250px;
  height: auto;
  border-radius: 6px;
  
}

.adventure {
  margin-top: 2rem;
  
}

.adventure h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.adventures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  gap: 1.5rem;
  justify-items: center;

}

.adventures figure {
  text-align: center;
}

.adventures img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.adventures figcaption {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}


footer {
  display: grid;
  grid-template-columns: 1fr auto auto ; 
  align-items: center;
  padding: 1rem 0;
  margin-top: 2rem;
  border-top: 1px solid #ccc; 
}

footer p {
  justify-self: center;
  color: var(--accent1-color);
  font-size: 0.9rem;
}
.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 32px;
  height: 32px;
  display: block;
}

.socialmedia {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}

.history,.adventure {
  background-color: var(--primary-light);
  padding: 2rem 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.hero article img {
    float: right !important;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

