* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #496294;
  --text-color: #333;
  --light-background: #eee;
  --white: #ffffff;
  --background: #f5f5f5;
}

body {
  font-size: 16px;
  font-family: Roboto, arial, sans-serif;
}

nav {
  background-color: var(--base-color);
  padding: 0.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
}

a:hover {
  background-color: var(--white);
  color: var(--base-color);
  border-radius: 10px;
}


h1 {
  color: var(--base-color);
  padding: 0.5em 0;
  border-bottom: 1px solid var(--base-color);
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

main {
  margin: 1rem auto;
  max-width: 600px;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid var(--base-color);
  padding: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  float: right;
  margin: 0 0 1rem 1rem;
}

aside {
  background-color: var(--background);
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  position: relative;
  text-align: center;
  border-radius: 10px; 
}



aside img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

aside h2 {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 0.3rem 0.6rem;
  font-weight: 550;
  font-size: 1.5rem;
  color: #2b251f;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
}

p {
  margin: 0.75rem 0;
}

ul {
  margin: 0.75rem 0 0.75rem 2rem;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid var(--text-color);
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* class selectors */

.box {
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: var(--background);
  border-radius: 10px;
}


.indent {
  padding-left: 2rem;
}

main .box {
  margin-top: 1rem;
  clear: right;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
