*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




:root {
  --base-color: #496294;
  --text-color: #333;
  --light-background: #eee;
  --white: #ffffff;

}


nav {
  background-color: var(--base-color);
  padding: 1rem;
}

nav a {
  color: var(--white);
  padding: 0.5rem ;
  display: block;
  text-decoration: none;
}



h1 {
  color: var(--base-color);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem; 
}

aside {
  width: 20em;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
  
}

p {
  padding: 0;
}

aside h2 {
  position: relative;
  top: 47px;
  left: 150px;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

/*class Selectors*/
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

.indent{
  padding-left: 1rem;
}